*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: 'PT Serif', serif;
}

body{
    
    font-size: 16px;
    background-color: #7aaa5d;
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%23247f2b' fill-opacity='0.37' fill-rule='evenodd'/%3E%3C/svg%3E");
}

a{
    color: #ffffff;
    text-decoration: none;
}

ul{
    list-style: none;
    font-size: 16px;
}
.sub_title{
    margin: 15px 10px;
    color:mediumslateblue;
    border-bottom: 4px solid mediumslateblue;
    justify-content: left;
}
/*---NAV BAR---*/

.nav_b{
    width: 90%;
    margin: auto;
    
}       

.nav-logo{
width: 60px;
margin-right: 40px;

}

.main-nav{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0px;
    
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 15px;
}
.main-nav ul.nav-menu {
    flex: 1;
    margin-left: 10 px;
    
}
.main-nav ul li a:hover{
    border-bottom: 4px solid #190624;
    border-top: 4px solid #190624;
}
.main-nav ul li a{
    padding: 6px;
}
hr{
    padding: 1px;
    background-color: #616161;
}
/*----------------Finaliza Nav Bar----------------------*/
/*---------------Hero de Imagenes-----------------------*/
.slider_block{
    width: 100%;
    height: 100%;
    align-self: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

.slider_img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider{
    display: flex;
    width: 400%;
    height: 800px;
    margin-left: -100%;
}
.slider_i{
    width: 100%;
    height: 100%;
}
.slider_btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #888484;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    text-align: center;
    border-radius: 30%;
    cursor: pointer;
    opacity: .5;
}
.slider_btn:hover{
background: #c7c7c7;
}
.btn_r{
right: 10px;
}
.btn_l{
left: 10px;
}
#presen_b {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #ffffff;
  position: absolute;
  padding: 6px;
  
}
#presen_a {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #309a29;
    position: absolute;
    padding: 6px;
  }
  /*---Finaliza Hero de Imagenes---*/
/*---Experiencia---*/

.exp{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 0px 15px;
}

.exp img{
    width: 100%;
    height: 180px;;
}
 .exp h3{
     font-size: 25px;
    margin: 10px;
    color: rgb(31, 44, 36);
    
 }

 #cuadro{
    border-right: 4px solid rgb(53, 4, 131);
    border-left: 4px solid rgb(53, 4, 131);
    background-color:rgb(84, 65, 114); opacity: 0.8;
    border-top: 4px solid rgb(136, 123, 156);
    border-bottom: 4px solid rgbrgb(136, 123, 156);
 }
 .exp a{
     padding: 15px 5px;
     text-transform: uppercase;
     color: #f6f6f6;
     display: inline-block;
     font-weight: bold;
 }

    

 .exp a:hover{
     text-decoration: underline;
 }
 /*------Fin Experiencia--------*/
 /*------About Me---------------*/

 .about_m{
    width: 100%;
    background: url('./img/fondo.jpg') no-repeat center center/cover;
    margin: 10px 20px;
    
 }
 .about_m h2{
     color:rgb(53, 4, 131);
 }
 .contenido{
     
     margin: 2px 4px;
     font-size: 24px;
     display: flex;
     justify-content: flex-end;
     
 }
 .contenido li{
     color:#000000;
 }
 .about_m h4{
     margin: 20px 20px;
     color:rgb(31, 44, 36);
    
     
 }

 .about_m h4 ul{
    font-size: 10px;
 }
 
 #foto_p{
width: 15%;
height: 15%;
display: flex;
align-items: center;
align-items: flex-start;
border-radius: 35%;
box-shadow: tan;

 }
 /*------Final About Me---------------*/
 
/*---------Contact me--------------------------*/
/* Aqui esta el css de todo contactame, pero se oculta por algún motivo que desconozco
#contactMe {
width: 100%;
height: 100%;
position: fixed;
background-color: rgba(255, 0, 106, 0.84l1);

}*/
form{
    max-width: 90%;
    width: 90%;
    background: rgba(230, 184, 99, 0.521);
    margin: 17vh auto 0 auto;
    padding:  40px;
    border-radius: 3px;
    box-sizing: border-box;

}
#titulo_c{
    margin: 0;
    text-align: center;
}
label{
    display: block;
    margin: 20px 0;

}
input, textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: 0,5px black;
    border-bottom: 1px solid #d3d3d3;
}

input[type="text"]:focus , textarea:focus{
    border-bottom: 1px solid rgb(255,0,106)

}
textarea ::-webkit-scrollbar{
    width: 4px
}

textarea ::-webkit-scrollbar-thumb{
    background-color: rgb(255, 0, 106);
}
.center{
    text-align: center;
}
input[type="submit"]{
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: linear-gradient(to right, rgb(255,0,106), rgb(255,67,61));
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
}
.error{
    color: red;

}
.error-border{
    border-bottom: 1px solid red;
}
#success{
    color: #7aaa5d;
}



